.wrapper
  #table

footer.mdl-mini-footer
  .mdl-logo
    | Written by&nbsp;
    a.footer-link(href="https://www.freecodecamp.org/letsziggy" target="_blank") LetsZiggy
    | &nbsp;for&nbsp;
    a.footer-link(href='https://www.freecodecamp.org/challenges/visualize-data-with-a-bar-chart', target='_blank') FreeCodeCamp Challenge
    | .

  .resources-container
    input#resources-toggle(type="checkbox")
    label.resources-btn(for="resources-toggle") Resources
    label.resources-backdrop(for="resources-toggle")
    .resources-content
      label.resources-close(for="resources-toggle") &#x2715;
      h5 Resources
      hr
      ul
        li
          a(href="https://codemyui.com/pure-css-modal-box-on-button-click/" target="_blank") Pure CSS Modal Box On Button Click
        li
          a(href="https://stackoverflow.com/a/42769683" target="_blank") Get REM to PX value
        li
          a(href="https://bl.ocks.org/curran/3a68b0c81991e2e94b19" target="_blank") Resizing d3.js objects on window resize
        li
          a(href="https://stackoverflow.com/a/43741830/7641789" target="_blank") Resizing d3.js axes on window resize
        li
          a(href="https://bl.ocks.org/mbostock/4403522" target="_blank") Rotate d3.js axes' text
        li
          a(href="https://bl.ocks.org/micahstubbs/e4f5c830c264d26621b80b754219ae1b" target="_blank") Mouseover event in d3.js
        li
          a(href="https://bl.ocks.org/mbostock/1424037" target="_blank") How to add HTML in SVG with d3.js
        li
          a(href="https://bl.ocks.org/d3noob/c506ac45617cf9ed39337f99f8511218" target="_blank") Add gridlines with d3.js
        li
          a(href="http://rajapradhan.com/blogs/d3-js-v4-essentials/" target="_blank") d3.js (v4) essential tutorials